<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Blur Effect 2</title>
</head>
<body>
    <div class="container">
        <header class="showcase">
            <div class="content">
                <img src="https://image.ibb.co/ims4Ep/logo.png" alt="logo">
                <h3>Welcome To Traversy Media</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.</p>
            </div>
        </header>
    </div>
</body>
</html>