<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Accordion</title>
</head>
<body>
    <button class="accordion">Section 1</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci nesciunt eius sapiente provident impedit recusandae sed numquam nam laborum esse, cupiditate veritatis repudiandae ex. Quis vel exercitationem odit possimus!</p>
    </div>
    <script src="app.js"></script>
</body>
</html>